.col{
    display: flex;
        
}
.warp{
    display: flex;
    
    max-width: 100%;
    justify-content:space-between;

}
.footer{
    
    color: white;
    width: auto;
    
    
  }
  .footer-content{
      display: flex;
      max-width: 100%;
      justify-content: space-between;
      padding: 1px 50px;
      }