.col{
    display: flex;
        
}
.warp{
    display: flex;
    
    max-width: 100%;
    justify-content:space-between;

}
.footer{
    
    color: white;
    width: auto;
    
    
  }
  .colom-img{
    margin-top: 10px;
    display: flex;
    justify-content: space-between;
  }
  .footer-content{
      display: flex;
      max-width: 100%;
      justify-content: space-around;
      }
    
.footer-content-c{
        
        display: flex;
        max-width: 100%;
        justify-content: space-between;
        padding: 1px 29px;
        }
.ikon{
    display:flex ;
    
    
    
}
 @media only screen and (max-width: 768px) {
    .footer-content{
        display: none;
        max-width: 100%;
        justify-content: space-around;
        }
        .footer-content-c{
            display: block;
            max-width: 100%;
            justify-content: center;
            align-content: center;
            
            
            }
 }