.col-1{
    
    display: flexbox;
    
    height: 50px;
    width: 25%;

}
.col-2{

    display: flexbox;
    height: 50px;
    width: 25%;
}

.col{
    display: flex;
    justify-content: space-between;
    flex: 0.1;
}
.warp{
    display: flex;
    max-width: 100%;
    
}


