*{
  margin: 0;
}
@media only screen and (min-width: 768px) { 
  .line{
      visibility: hidden;
          
  } 
  
  
}
nav{
  display: flex ;
  top: 0;
  background-color: #ac2c2c;
  position: fixed;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
}
ul{
  display: flex;
 gap: 3rem;

  padding: 4px 9px;
}
li{
  display: flex;  

}
.nav-a{
  display: block;
  color: rgba(248, 222, 222, 0.809);
 
  font-size: 20px;
  text-decoration: none;
}
.nav-a:hover {
  color: #5c1b1b;
}

.navbar{
  color: #fefefe;

}
.logo{
  
  width: 20%;
}

.search-box{
  display: flex;
}
form {
  margin: 0;
  padding: 0;
}
input[type="text"] {
  
  padding: 8px;
  background-color: #ffffffb4;
  border: none;
  border-radius: 4px 0 0 4px;
  font-size: 16px;
}  
button[type="submit"] {
  background-color: #ff000099;
  color: white;
  border: none;
  padding: 8px 16px;
 border-radius: 0 4px 4px 0;
  cursor: pointer;
  font-size: 16px;
}

button[type="submit"]:hover {
  background-color: #000000ad;
}
.active{
  color: #1001018a;
  
}

  /* moble view */

  @media only screen and (max-width: 768px) {
    .search{
      visibility: hidden;
      display: none;
    }

nav{
  display: flex ;
  background-color: #ac2c2c;
  position: fixed;

} 
nav ul {
        
  list-style: none;
  margin: 0;
}



    .line{
      background-color: #fefefe;
      padding: 2% 3%;
      border-radius: 4px;
      padding-right: 2%;
      justify-content: center;

    }
    .line:hover{
      background-color: #1001018a ;
    }
    hr{

      background-color: #ac2c2c;
      margin-bottom: 2px;
      width: 50px;
      height: 8px;
      
    }
    nav ul li {
      display: inline-block;
      position: relative;
      margin-right: 20px;
    }
          
    nav ul li .navbar {
      display: block;
      padding: 10px;
      color: rgba(26, 12, 12, 0.713);
    }
 
    .navbar:hover{
      background-color: #ac2c2c89;
    }
    nav ul ul {
      display: none;
      position: absolute;
      top: 100%;
      left: 0;
      padding: 0;
    }
    nav ul ul li {
      display: block;
      width: 100%;
    }
    nav ul ul li .navbar{
      padding: 10px;
       margin-bottom: 21%;
      font-size: 14px;
    }
    nav ul li:hover > ul {
      display: inherit;
    }
    .logo{
      width: 46%;
    }
}