*{
  margin: 0;
  min-height: auto;
  max-width: 100%;
}
main{
  background-color: #ececec;
  padding: 8px 8px;
  max-width: 100%;
}
body::-webkit-scrollbar{
 display: none;
}
.container {
    width: 100%;
    
    padding-bottom: 6px;
    padding-top: 60px;
    background-color: #f2f2f2;
  }
  .promo {
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: #fff;
    padding: 20px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
  }
  .promo-image img {
    max-width: 100%;
    height: auto;
    border-radius: 5px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.2);
  }
  .img-promo{
    width: 80vw;
  }
  .promo-text {
    margin-left: 20px;
    text-align: center;
  }
  .promo-text h2 {
    font-size: 32px;
    margin-bottom: 10px;
  }
  .promo-text p {
    font-size: 18px;
    margin-bottom: 20px;
  }
  .promo-button {
    display: inline-block;
    padding: 10px 20px;
    background-color: #930000;
    color: #fff;
    border-radius: 5px;
    text-decoration: none;
    font-size: 18px;
    transition: all 0.3s ease;
  }
  .promo-button:hover {
    background-color: #ff0000c4;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.2);
  }
  section{
    background-color: white;
    min-height: 0px;
    width: 100%;
    padding-top: 1%;
    padding-bottom: 10px;
  }
  footer{
    background-color: #ac2c2c;  
    display: flex;
    justify-content: space-around;
    bottom: 0;
    left: 0;
    width: 100%;
    height: 20vh;
    font-family: Arial, sans-serif;
  }

  /* moble view */
  @media only screen and (max-width: 768px) {
    .container {
      width: 100%;
      justify-content: center;
      
      padding-top: 60px;
      background-color: #f2f2f2;
    }
   
    .promo {
      display: inline-block;
      justify-content: center;
      align-items: center;
      background-color: #fff;
      padding: 40px;
      box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    }
    .promo-image img {
      max-width: 100%;
      height: auto;
      border-radius: 5px;
      box-shadow: 0 0 10px rgba(0, 0, 0, 0.2);
    }
    .promo-text {
      margin-left: 20px;
      text-align: center;
    }
    .promo-text h2 {
      font-size: 22px;
      margin-bottom: 10px;
    }
    .promo-text p {
      font-size: 18px;
      margin-bottom: 20px;
    }
    .promo-button {
      display: inline-block;
      padding: 10px 20px;
      background-color: #930000;
      color: #fff;
      border-radius: 5px;
      text-decoration: none;
      font-size: 18px;
      transition: all 0.3s ease;
    }
    .promo-button:hover {
      background-color: #ff0000c4;
      box-shadow: 0 0 10px rgba(0, 0, 0, 0.2);
    }
  
  }