*{
  margin: 0;
  min-height: auto;
  max-width: 100%;
}
main{
  background-color: #ececec;
  padding: 8px 8px;
  max-width: 100%;
}
body::-webkit-scrollbar{
 display: none;
}
.container {
    width: 100%;
    
    padding-bottom: 6px;
    padding-top: 60px;
    background-color: #f2f2f2;
  }
  .promo {
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: #fff;
    padding: 20px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
  }
  .promo-image img {
    max-width: 100%;
    height: auto;
    border-radius: 5px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.2);
  }
  .img-promo{
    width: 80vw;
  }
  .promo-text {
    margin-left: 20px;
    text-align: center;
  }
  .promo-text h2 {
    font-size: 32px;
    margin-bottom: 10px;
  }
  .promo-text p {
    font-size: 18px;
    margin-bottom: 20px;
  }
  .promo-button {
    display: inline-block;
    padding: 10px 20px;
    background-color: #930000;
    color: #fff;
    border-radius: 5px;
    text-decoration: none;
    font-size: 18px;
    transition: all 0.3s ease;
  }
  .promo-button:hover {
    background-color: #ff0000c4;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.2);
  }
  section{
    background-color: white;
    min-height: 0px;
    justify-content: center;
    width: 100%;
    padding-top: 1%;
    padding-bottom: 10px;
  }
  footer{
    
    background-color: #ac2c2c;  
    padding-top: 20px;
    bottom: 0;
    max-width: 100%;
    height: 60vh;
    font-family: Arial, sans-serif;
  }
  #line-footer{
    margin-top: 90px;
    display: flex;
    justify-content: center;
    margin-bottom: 40px;

  }
.garis{
  background-color: white;
  width: 95%;
  height: 1px;
  border-color: white;
}


.wrap-content{
  margin-top: 10px;
  background-color: transparent;
}
.tls{
  display: flex;
  justify-content: center;
  padding-top:15px ;
  font-family: Arial, Helvetica, sans-serif;
  color: #ac2c2c;
  font-size: 20PX;
}
header{
  
  justify-content: center;
  background-color: white;
  
}
.header-line{
  
  background-color: #930000;
  margin-top: 20px;
  width: 100%;
  height: 5px;
}
.bingkai {
  background-color: white;
  word-break: break-all;
  text-decoration: none;
  color: black;
  width: 20%;
  height: 60%;
  box-shadow: 0px 0px 10px rgba(0,0,0,.5);  
}

.bingkai:hover {
  
  box-shadow: 0px 0px 2px 2px #930000;
  /* border: 1px outset #930000; */
}

.img-gambar {
  max-height: 40%;
}

pre {
  padding-top: 25px;
  display: flex;
  justify-content: space-around;
  gap: 30%;
}

.produc-text {
  padding: 0px 8px;
}

.cash {
  font-size: 19px;
  margin-bottom: 10px;
  color: #ac2c2c;
}

.view {
  color: rgba(31, 27, 27, 0.841);
  font-size: 15px;
}

.content {
  display: flex;
  justify-content: space-between;
  margin-top: 15px;
  padding: 0px 5%;
  margin-bottom: 9px;
  width: 90%;
}

  /* moble view */
  @media only screen and (max-width: 768px) {
    .container {
      width: 100%;
      justify-content: center;
      
      padding-top: 60px;
      background-color: #f2f2f2;
    }
   
    .promo {
      display: inline-block;
      justify-content: center;
      align-items: center;
      background-color: #fff;
      padding: 40px;
      box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    }
    .promo-image img {
      max-width: 100%;
      height: auto;
      border-radius: 5px;
      box-shadow: 0 0 10px rgba(0, 0, 0, 0.2);
    }
    .promo-text {
      margin-left: 20px;
      text-align: center;
    }
    .promo-text h2 {
      font-size: 22px;
      margin-bottom: 10px;
    }
    .promo-text p {
      font-size: 18px;
      margin-bottom: 20px;
    }
    .promo-button {
      display: inline-block;
      padding: 10px 20px;
      background-color: #930000;
      color: #fff;
      border-radius: 5px;
      text-decoration: none;
      font-size: 18px;
      transition: all 0.3s ease;
    }
    .promo-button:hover {
      background-color: #ff0000c4;
      box-shadow: 0 0 10px rgba(0, 0, 0, 0.2);
    }

/* produk rekomendasi mobile */
.content {
  display:flex;
  margin-top: 15px;
  word-break: break-all;
  padding: 0px 5%;
  margin-bottom: 9px;
  width: 90%;
  
}
.bingkai {
  background-color: white;
  word-break: break-all;
  text-decoration: none;
  color: black;
  width: 20%;
  height: 60%;
  box-shadow: 0px 0px 10px rgba(0,0,0,.5);  
}
.img-gambar {
  max-height: 30%;
}

pre {
  padding-top: 25px;
  display: flex;
  justify-content: space-around;
  
}

.produc-text {
  font-size: 12px;
  padding: 0px 8px;
}

.cash {
  font-size: 11px;
  margin-bottom: 10px;
  color: #ac2c2c;
}

.view {
  color: rgba(31, 27, 27, 0.841);
  font-size: 11px;
}




    footer{
    
      background-color: #ac2c2c;  
      padding-top: 20px;
      bottom: 0;
      max-width: 100%;
      height: 35vh;
      font-family: Arial, sans-serif;
    }
  }